---
layout: default
---

<div class="home">

  <p>HTML5 is a growing and constantly evolving collection of browser technologies that allow Web apps to become more sophisticated, and replicate more of the functionality that traditionally has been limited to native apps. HTML5 does this by defining APIs that provide access to information and services that traditionally were not available to browser-based applications.</p>

  <p>This site tracks the developing HTML5 landscape and provides an overview of the current state. It is updated regularly and managed <a href="https://github.com/dret/HTML5-overview">openly on GitHub</a>.</p>

  <p>Most HTML5 specifications are <a href="http://www.w3.org/" title="World Wide Web Consortium">W3C</a> TR documents, moving through the <a href="https://www.w3.org/Consortium/Process/">well-defined lifecycle of W3C specifications</a>. There also is a small number of non-W3C specifications (which occasionally get adopted as W3C specifications when they gain widespread support).</p>

  {% include specs.html %}

  <h1 class="page-heading">Recent Updates</h1>

  <ul>
    {% for post in site.posts limit:5 %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">For a complete list, <a href="{{ "/history" | prepend: site.baseurl }}">here is the history of all updates</a>; subscribe to updates <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>

</div>
