<div class="specs">
   <p>Currently this site tracks 199 specifications, 140 of which are active, while the remaining 59 have been superseded or abandoned. 187 are W3C specifications, and the remaining 12 are published/developed elsewhere. Two separate lists are published here:
      <ul>
         <li>
            <a href="current">140 current specifications</a> (128 W3C, 12 other)
         </li>
         <li>
            <a href="abandoned">59 superseded or abandoned specifications</a> (59 W3C, 0 other)
         </li>
      </ul>
   </p>
</div>