<div class="specs">
   <p>Currently this site tracks 179 specifications, 130 of which are active, while the remaining 49 have been abandoned. 168 are W3C specifications, and the remaining 11 are published/developed elsewhere. Two separate lists are published here:
      <ul>
         <li>
            <a href="current">130 current specifications</a> (119 W3C, 11 other)
         </li>
         <li>
            <a href="abandoned">49 abandoned specifications</a> (49 W3C, 0 other)
         </li>
      </ul>
   </p>
</div>