<div class="specs">
   <p>Currently this site tracks 198 specifications, 137 of which are active, while the remaining 61 have been superseded or abandoned. 186 are W3C specifications, and the remaining 12 are published/developed elsewhere. Two separate lists are published here:
      <ul>
         <li>
            <a href="current">137 current specifications</a> (125 W3C, 12 other)
         </li>
         <li>
            <a href="abandoned">61 superseded or abandoned specifications</a> (61 W3C, 0 other)
         </li>
      </ul>
   </p>
</div>