---
layout:   page
category: spec
title:    "Timing Control for Script-Based Animations"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/animation-timing">http://www.w3.org/TR/animation-timing</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines an API web page authors can use to write script-based animations
         where the user agent is in control of limiting the update rate of the animation. The
         user agent is in a better position to determine the ideal animation rate based on
         whether the page is currently in a foreground or background tab, what the current
         load on the CPU is, and so on. Using this API should therefore result in more appropriate
         utilization of the CPU by the browser.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Timing Control for Script-Based Animations</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "animation-timing" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>