---
layout:   page
category: spec
title:    "Beacon"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/beacon">http://www.w3.org/TR/beacon</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an interface that web developers can use to schedule asynchronous
         and non-blocking delivery of data that minimizes resource contention with other time-critical
         operations, while ensuring that such requests are still processed and delivered to
         destination.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Beacon</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "beacon" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>