---
layout:   page
category: spec
title:    "Content Security Policy Pinning"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/csp-pinning">http://www.w3.org/TR/csp-pinning</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This Note provides a historical reference for a proposed mechanism to allow authors
         to instruct user agents to remember ("pin") and enforce a Content Security Policy
         for a set of hosts for a period of time.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Content Security Policy Pinning</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "csp-pinning" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>