---
layout:   page
category: spec
title:    "Content Security Policy: Cookie Controls"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/csp-cookies">http://www.w3.org/TR/csp-cookies</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This Note provides a historical reference for a proposed set of mechanisms by which
         web developers can limit the ways in which cookies may be set in the context of their
         sites and applications.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Content Security Policy: Cookie Controls</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "csp-cookies" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>