---
layout:   page
category: spec
title:    "Content Security Policy Level 3"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/CSP3">http://www.w3.org/TR/CSP3</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines a mechanism by which web developers can control the resources
         which a particular page can fetch or execute, as well as a number of security-relevant
         policy decisions.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Content Security Policy Level 3</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "CSP3" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>