---
layout:   page
category: spec
title:    "Programmable HTTP Caching and Serving"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/DataCache">http://www.w3.org/TR/DataCache</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines APIs for off-line serving of requests to HTTP resources using
         static and dynamic responses. It extends the function of application caches defined
         in HTML5.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Programmable HTTP Caching and Serving</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "DataCache" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>