---
layout:   page
category: spec
title:    "Network Service Discovery"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/discovery-api">http://www.w3.org/TR/discovery-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines a mechanism for an HTML document to discover and subsequently
         communicate with HTTP-based services advertised via common discovery protocols within
         the current network.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Network Service Discovery</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "discovery-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>