---
layout:   page
category: spec
title:    "Server-Sent Events"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Recommendation (REC)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/eventsource">http://www.w3.org/TR/eventsource</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an API for opening an HTTP connection for receiving push
         notifications from a server in the form of DOM events. The API is designed such that
         it can be extended to work with other push notification schemes such as Push SMS.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Server-Sent Events</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "eventsource" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>