---
layout:   page
category: spec
title:    "File API: Directories and System"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/file-system-api">http://www.w3.org/TR/file-system-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an API to navigate file system hierarchies, and defines
         a means by which a user agent may expose sandboxed sections of a user's local filesystem
         to web applications. It builds on , which in turn built on , each adding a different
         kind of functionality.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>File API: Directories and System</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "file-system-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>