---
layout:   page
category: spec
title:    "Frame Timing"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/frame-timing">http://www.w3.org/TR/frame-timing</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an interface for web applications to access runtime performance
         information of the browser event loop, enabling them to identify and fix issues that
         cause delayed rendering, processing of input, and other critical work necessary to
         deliver a smooth and responsive user experience.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Frame Timing</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "frame-timing" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>