---
layout:   page
category: spec
title:    "Pick Media Intent"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/gallery">http://www.w3.org/TR/gallery</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The Pick Media Intent defines a Web Intent that enables access to a user's media gallery
         from inside a Web application. It defines both an Intent action/type pair that selects
         this operation, and the format of the media data that is returned by services implementing
         this specification.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Pick Media Intent</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "gallery" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>