---
layout:   page
category: spec
title:    "Geolocation API Specification Level 2"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/geolocation-API-v2">http://www.w3.org/TR/geolocation-API-v2</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an API that provides scripted access to geographical location
         information associated with the hosting device, and this Level 2 version extends the
         capability of the Geolocation API Specification by adding the ability to get location
         represented as a civil address.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Geolocation API Specification Level 2</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "geolocation-API-v2" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>