---
layout:   page
category: spec
title:    "HTML Accessibility API Mappings 1.0"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/html-aam-1.0">http://www.w3.org/TR/html-aam-1.0</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>HTML Accessibility API Mappings (HTML-AAM) defines how user agents map HTML 5.1 elements
         and attributes to platform accessibility application programming interfaces (APIs).
         It leverages and extends the Core Accessibility API Mappings 1.1 and the Accessible
         Name and Description: Computation and API Mappings 1.1 for use with the HTML 5.1 host
         language. Documenting these mappings promotes interoperable exposure of roles, states,
         properties, and events implemented by accessibility APIs and helps to ensure that
         this information appears in a manner consistent with author intent.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>HTML Accessibility API Mappings 1.0</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "html-aam-1.0" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>