---
layout:   page
category: spec
title:    "HTML Image Description Extension (longdesc)"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Recommendation (REC)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/html-longdesc">http://www.w3.org/TR/html-longdesc</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines a longdesc attribute (based on the longdesc attribute of
         HTML 4) to link descriptions to images in HTML5 content. By allowing a hyperlink inside
         another one, this document explicitly redefines the HTML concept of hyperlink in a
         limited set of circumstances.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>HTML Image Description Extension (longdesc)</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "html-longdesc" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>