---
layout:   page
category: spec
title:    "HTML 5.2"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Proposed Recommendation (PR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/html52">http://www.w3.org/TR/html52</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines the 5th major version, second minor revision of the core
         language of the World Wide Web: the Hypertext Markup Language (HTML). In this version,
         new features continue to be introduced to help Web application authors, new elements
         continue to be introduced based on research into prevailing authoring practices, and
         special attention continues to be given to defining clear conformance criteria for
         user agents in an effort to improve interoperability.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>HTML 5.2</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "html52" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>