---
layout:   page
category: spec
title:    "Input Method Editor API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/ime-api">http://www.w3.org/TR/ime-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an "IME API" that provides Web applications with scripted
         access to an IME (input-method editor) associated with a hosting user agent. This
         IME API includes: an InputMethodContext interface, which provides methods to retrieve
         detailed data from an in-progress IME composition; and a Composition dictionary, which
         represents read-only attributes about the current composition, such as the actual
         text and its style. This API is designed to be used in conjunction with DOM events.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Input Method Editor API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "ime-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>