---
layout:   page
category: spec
title:    "Media Capture from DOM Elements"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/mediacapture-fromelement">http://www.w3.org/TR/mediacapture-fromelement</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines how a stream of media can be captured from a DOM element, such
         as a &lt;video&gt;, &lt;audio&gt;, or &lt;canvas&gt; element, in the form of a MediaStream.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Media Capture from DOM Elements</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "mediacapture-fromelement" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>