---
layout:   page
category: spec
title:    "Media Capture and Streams"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/mediastream-streams">http://www.w3.org/TR/mediastream-streams</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines a set of JavaScript APIs that allow local media, including audio
         and video, to be requested from a platform.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Media Capture and Streams</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "mediastream-streams" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>