---
layout:   page
category: spec
title:    "Media Session Standard"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/mediasession">http://www.w3.org/TR/mediasession</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification enables web developers to show customized media metadata on platform
         UI, customize available platform media controls, and access platform media keys such
         as hardware keys found on keyboards, headsets, remote controls, and software keys
         found in notification areas and on lock screens of mobile devices.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Media Session Standard</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "mediasession" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>