---
layout:   page
category: spec
title:    "HTML Microdata"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/microdata">http://www.w3.org/TR/microdata</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines new HTML attributes to embed machine-readable data in HTML
         documents in a style similar to RDFa. It is compatible with JSON, and can be written
         in a style which is convertible to RDF, although two-way conversion is not lossless.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>HTML Microdata</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "microdata" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>