---
layout:   page
category: spec
title:    "HTML Microdata"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/microdata">http://www.w3.org/TR/microdata</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines the HTML microdata mechanism. This mechanism allows machine-readable
         data to be embedded in HTML documents in an easy-to-write manner, with an unambiguous
         parsing model. It is compatible with numerous other data formats including RDF and
         JSON.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>HTML Microdata</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "microdata" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>