---
layout:   page
category: spec
title:    "Micropub"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/micropub">http://www.w3.org/TR/micropub</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>Micropub is an open API standard that is used to create posts on one's own domain
         using third-party clients. Web apps and native apps (e.g. iPhone, Android) can use
         Micropub to post short notes, photos, events or other posts to your own site.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Micropub</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "micropub" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>