---
layout:   page
category: spec
title:    "Network Error Logging"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/network-error-logging">http://www.w3.org/TR/network-error-logging</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines a mechanism that enables developers to declare a network error
         reporting policy for a web application. A user agent can use this policy to report
         encountered network errors that prevented it from successfully fetching requested
         resources.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Network Error Logging</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "network-error-logging" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>