---
layout:   page
category: spec
title:    "Web Notifications"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Recommendation (REC)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/notifications">http://www.w3.org/TR/notifications</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>Web notifications defines an API for end-user notifications. A notification allows
         alerting the user outside the context of a web page of an occurrence, such as the
         delivery of email.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Notifications</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "notifications" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>