---
layout:   page
category: spec
title:    "Basic Card Payment"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/payment-method-basic-card">http://www.w3.org/TR/payment-method-basic-card</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The Basic Card Payment specification describes the data formats used by the PaymentRequest
         API to support payment by payment cards such as credit or debit cards.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Basic Card Payment</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "payment-method-basic-card" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>