---
layout:   page
category: spec
title:    "Payment Request API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/payment-request">http://www.w3.org/TR/payment-request</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification describes a web API to allow merchants (i.e. web sites selling
         physical or digital goods) to easily accept payments from different payment methods
         with minimal integration. User agents (e.g. browsers) will facilitate the payment
         flow between merchant and user.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Payment Request API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "payment-request" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>