---
layout:   page
category: spec
title:    "Performance Timeline Level 2"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/performance-timeline-2">http://www.w3.org/TR/performance-timeline-2</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification extends the High Resolution Time specification by providing methods
         to store and retrieve high resolution performance metric data.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Performance Timeline Level 2</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "performance-timeline-2" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>