---
layout:   page
category: spec
title:    "Pointer Lock 2.0"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Recommendation (REC)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/pointerlock-2">http://www.w3.org/TR/pointerlock-2</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an API that provides scripted access to raw mouse movement
         data while locking the target of mouse events to a single element and removing the
         cursor from view. This is an essential input mode for certain classes of applications,
         especially first person perspective 3D applications and 3D modeling software.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Pointer Lock 2.0</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "pointerlock-2" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>