---
layout:   page
category: spec
title:    "Pointer Events - Level 2"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/pointerevents2">http://www.w3.org/TR/pointerevents2</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The features in this specification extend or modify those found in "Pointer Events",
         a W3C Recommendation that describes events and related interfaces for handling hardware
         agnostic pointer input from devices including a mouse, pen, touchscreen, etc. For
         compatibility with existing mouse based content, this specification also describes
         a mapping to fire Mouse Events for other pointer device types.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Pointer Events - Level 2</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "pointerevents2" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>