---
layout:   page
category: spec
title:    "Privileged Contexts"
---

<p>Old Name/id for 
   <a href="secure-contexts">Secure Contexts (
      <code>secure-contexts</code>)
   </a>.
</p>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Privileged Contexts</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "powerful-features" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>