---
layout:   page
category: spec
title:    "Progress Events"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Recommendation (REC)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/progress-events">http://www.w3.org/TR/progress-events</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The Progress Events specification defines an event interface that can be used for
         measuring progress; e.g. HTTP entity body transfers. This specification is primarily
         meant to be used by other specifications.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Progress Events</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "progress-events" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>