---
layout:   page
category: spec
title:    "Raw Sockets"
---

<p>Old Name/id for 
   <a href="tcp-udp-sockets">TCP and UDP Socket API (
      <code>tcp-udp-sockets</code>)
   </a>.
</p>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Raw Sockets</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "raw-sockets" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>