---
layout:   page
category: spec
title:    "Referrer Policy"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/referrer-policy">http://www.w3.org/TR/referrer-policy</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document describes how an author can set a referrer policy for documents they
         create, and the impact of such a policy on the Referer HTTP header for outgoing requests
         and navigations.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Referrer Policy</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "referrer-policy" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>