---
layout:   page
category: spec
title:    "Reporting API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/reporting-1">http://www.w3.org/TR/reporting-1</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines a generic reporting framework which allows web developers to
         associate a set of named reporting endpoints with an origin. Various platform features
         (like Content Security Policy, Network Error Reporting, and others) will use these
         endpoints to deliver feature-specific reports in a consistent manner.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Reporting API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "reporting-1" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>