---
layout:   page
category: spec
title:    "Secure Contexts"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/secure-contexts">http://www.w3.org/TR/secure-contexts</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines "secure contexts", thereby allowing user agent implementers
         and specification authors to enable certain features only when certain minimum standards
         of authentication and confidentiality are met.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Secure Contexts</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "secure-contexts" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>