---
layout:   page
category: spec
title:    "Server Timing"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/server-timing">http://www.w3.org/TR/server-timing</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification enables a server to communicate performance metrics about the request-response
         cycle to the user agent. It also standardizes a JavaScript interface to enable applications
         to collect, process, and act on these metrics to optimize application delivery.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Server Timing</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "server-timing" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>