---
layout:   page
category: spec
title:    "Service Workers"
---

<p>Old name/id for 
   <a href="service-workers-1">Service Workers 1 (
      <code>service-workers-1</code>)
   </a>.
</p>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Service Workers</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "service-workers" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>