---
layout:   page
category: spec
title:    "MediaStream Processing API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/streamproc">http://www.w3.org/TR/streamproc</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>A number of existing or proposed features for the Web platform deal with continuous
         real-time media: HTML media elements, Synchronization of multiple HTML media elements
         (e.g. proposed HTML MediaController), Capture and recording of local audio and video
         input (e.g. proposed HTML Streams), Peer-to-peer streaming of audio and video streams
         (e.g. proposed WebRTC and HTML Streams), and Advanced audio APIs that allow complex
         mixing and effects processing (e.g. Mozilla's AudioData, Chrome's AudioNode). Many
         use-cases require these features to work together. This proposal makes HTML Streams
         the foundation for integrated Web media processing by creating a mixing and effects
         processing API for HTML Streams.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>MediaStream Processing API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "streamproc" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>