---
layout:   page
category: spec
title:    "Streams API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/streams-api">http://www.w3.org/TR/streams-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>WHATWG Streams API spec provides an API for representing and handling a stream of
         data in JavaScript. This W3C spec is intended to extend the WHATWG spec to meet requirements
         specific to the browser environment.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Streams API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "streams-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>