---
layout:   page
category: spec
title:    "Streams API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/streams-api">http://www.w3.org/TR/streams-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification provides APIs for creating, composing, and consuming streams of
         data. These streams are designed to map efficiently to low-level I/O primitives, and
         allow easy composition with built-in backpressure and queuing. On top of streams,
         the web platform can build higher-level abstractions, such as filesystem or socket
         APIs, while at the same time users can use the supplied tools to build their own streams
         which integrate well with those of the web platform.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Streams API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "streams-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>