---
layout:   page
category: spec
title:    "UI Events Specification"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/uievents">http://www.w3.org/TR/uievents</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines UI Events which extend the DOM Event objects defined in
         DOM4. UI Events are those typically implemented by visual user agents for handling
         user interaction such as mouse and keyboard input.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>UI Events Specification</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "uievents" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>