---
layout:   page
category: spec
title:    "UI Events KeyboardEvent code Values"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/uievents-code">http://www.w3.org/TR/uievents-code</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines the values for the KeyboardEvent.code attribute, which
         is defined as part of the UI Events Specification. The code value contains information
         about the key event that can use used identify the physical key being pressed by the
         user.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>UI Events KeyboardEvent code Values</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "uievents-code" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>