---
layout:   page
category: spec
title:    "User Timing Level 3"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/user-timing-3">http://www.w3.org/TR/user-timing-3</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an interface to help web developers measure the performance
         of their applications by giving them access to high precision timestamps.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>User Timing Level 3</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "user-timing-3" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>