---
layout:   page
category: spec
title:    "Vehicle Information API Specification"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/vehicle-information-api">http://www.w3.org/TR/vehicle-information-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines a high level API for accessing to vehicle signals and data
         attributes. The purpose of the specification is to promote a client implementation
         with a standard API that enables application development in a consistent manner across
         participating automotive manufacturers.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Vehicle Information API Specification</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "vehicle-information-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>