---
layout:   page
category: spec
title:    "Wake Lock API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/wake-lock">http://www.w3.org/TR/wake-lock</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document specifies an API that allows web applications to request a wake lock.
         A wake lock prevents some aspect of the device from entering a power-saving state
         (e.g., preventing the system from turning off the screen).
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Wake Lock API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "wake-lock" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>