---
layout:   page
category: spec
title:    "Web Intents"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/web-intents">http://www.w3.org/TR/web-intents</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines a service discovery and light-weight RPC mechanism for
         web apps called Web Intents. This document defines DOM interfaces and markup used
         by client and service pages to create, receive, and reply to Web Intents messages,
         and the procedures the User Agent carries out to facilitate that process.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Intents</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "web-intents" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>