---
layout:   page
category: spec
title:    "Web Share API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/web-share">http://www.w3.org/TR/web-share</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td> This specification defines an API for sharing text, links and other content to an
         arbitrary destination of the user's choice. The available share targets are not specified
         here; they are provided by the user agent. They could, for example, be apps, websites
         or contacts.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Share API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "web-share" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>