---
layout:   page
category: spec
title:    "Web Animations"
---

<p>Old name/id for 
   <a href="web-animations-1">Web Animations (
      <code>web-animations-1</code>)
   </a>.
</p>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Animations</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "web-animations" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>