---
layout:   page
category: spec
title:    "Web Audio API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webaudio">http://www.w3.org/TR/webaudio</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification describes a high-level Web API for processing and synthesizing
         audio in web applications. The primary paradigm is of an audio routing graph, where
         a number of AudioNode objects are connected together to define the overall audio rendering.
         The actual processing will primarily take place in the underlying implementation (typically
         optimized Assembly/C/C++ code), but direct script processing and synthesis is also
         supported. The Introduction section covers the motivation behind this specification.
         This API is designed to be used in conjunction with other APIs and elements on the
         web platform, notably: XMLHttpRequest (using the responseType and response attributes).
         For games and interactive applications, it is anticipated to be used with the canvas
         2D and WebGL 3D graphics APIs.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Audio API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webaudio" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>