---
layout:   page
category: spec
title:    "Web Authentication: An API for accessing Scoped Credentials"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webauthn">http://www.w3.org/TR/webauthn</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines an API enabling the creation and use of strong, attested,
         cryptographic scoped credentials by web applications, for the purpose of strongly
         authenticating users. Conceptually, one or more credentials, each scoped to a given
         Relying Party, are created and stored on an authenticator by the user agent in conjunction
         with the web application. The user agent mediates access to scoped credentials in
         order to preserve user privacy. Authenticators are responsible for ensuring that no
         operation is performed without user consent. Authenticators provide cryptographic
         proof of their properties to relying parties via attestation. This specification also
         describes the functional model for WebAuthn conformant authenticators, including their
         signature and attestation functionality.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Authentication: An API for accessing Scoped Credentials</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webauthn" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>