---
layout:   page
category: spec
title:    "Web Cryptography API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Recommendation (REC)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/WebCryptoAPI">http://www.w3.org/TR/WebCryptoAPI</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification describes a JavaScript API for performing basic cryptographic operations
         in web applications, such as hashing, signature generation and verification, and encryption
         and decryption. Additionally, it describes an API for applications to generate and/or
         manage the keying material necessary to perform these operations. Uses for this API
         range from user or service authentication, document or code signing, and the confidentiality
         and integrity of communications.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Cryptography API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "WebCryptoAPI" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>