---
layout:   page
category: spec
title:    "WebDriver"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Proposed Recommendation (PR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webdriver">http://www.w3.org/TR/webdriver</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>WebDriver is a remote control interface that enables introspection and control of
         user agents. It provides a platform- and language-neutral wire protocol as a way for
         out-of-process programs to remotely instruct the behavior of web browsers. Provided
         is a set of interfaces to discover and manipulate DOM elements in web documents and
         to control the behavior of a user agent. It is primarily intended to allow web authors
         to write tests that automate a user agent from a separate controlling process, but
         may also be used in such a way as to allow in-browser scripts to control a - possibly
         separate - browser.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>WebDriver</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webdriver" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>