---
layout:   page
category: spec
title:    "WebDriver"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webdriver">http://www.w3.org/TR/webdriver</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This specification defines the WebDriver API, a platform-and language-neutral interface
         that allows programs or scripts to introspect into, and control the behaviour of,
         a web browser. The WebDriver API is primarily intended to allow developers to write
         tests that automate a browser from a separate controlling process, but may also be
         implemented in such a way as to allow in-browser scripts to control a browser. The
         WebDriver API is defined by a set of interfaces to discover and manipulate DOM elements
         on a page, and to control the behaviour of the containing browser. This specification
         also includes a non-normative reference useful for browser vendors.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>WebDriver</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webdriver" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>