---
layout:   page
category: spec
title:    "Web Payments HTTP API 1.0"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webpayments-http-api">http://www.w3.org/TR/webpayments-http-api</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document outlines how to register payment applications, create payment requests,
         and reply with payment responses using a standard HTTP API.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Web Payments HTTP API 1.0</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webpayments-http-api" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>