---
layout:   page
category: spec
title:    "WebRTC DSCP Control API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webrtc-dscp">http://www.w3.org/TR/webrtc-dscp</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This API defines a control surface for manipulating the network control bits (DSCP
         bits) of outgoing WebRTC packets.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>WebRTC DSCP Control API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webrtc-dscp" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>