---
layout:   page
category: spec
title:    "WebRTC 1.0: Real-time Communication Between Browsers"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Candidate Recommendation (CR)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webrtc">http://www.w3.org/TR/webrtc</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines a set of ECMAScript APIs in WebIDL to allow media to be sent
         to and received from another browser or device implementing the appropriate set of
         real-time protocols. This specification is being developed in conjunction with a protocol
         specification developed by the IETF RTCWEB group and an API specification to get access
         to local media devices developed by the Media Capture Task Force.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>WebRTC 1.0: Real-time Communication Between Browsers</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webrtc" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>