---
layout:   page
category: spec
title:    "Identifiers for WebRTC's Statistics API"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webrtcstats">http://www.w3.org/TR/webrtcstats</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>This document defines a set of JavaScript APIs that allow access to the statistical
         information about a PeerConnection.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>Identifiers for WebRTC's Statistics API</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webrtcstats" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>