---
layout:   page
category: spec
title:    "WebXR Augmented Reality Module Level 1"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Working Draft (WD)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/webxr-ar-module-1">http://www.w3.org/TR/webxr-ar-module-1</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The WebXR Augmented Reality module expands the WebXR Device API with the functionality
         available on AR hardware.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>WebXR Augmented Reality Module Level 1</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "webxr-ar-module-1" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>