---
layout:   page
category: spec
title:    "XMLHttpRequest Level 1"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/XMLHttpRequest">http://www.w3.org/TR/XMLHttpRequest</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The XMLHttpRequest specification defines an API that provides scripted client functionality
         for transferring data between a client and a server.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>XMLHttpRequest Level 1</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "XMLHttpRequest" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>