---
layout:   page
category: spec
title:    "XMLHttpRequest Level 2"
---

<table cellpadding="5">
   <tr>
      <th valign="top" align="right">
         <em>Current Status:</em>
      </th>
      <td>Note (NOTE)</td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Canonical URI:</em>
      </th>
      <td>
         <code>
            <a href="http://www.w3.org/TR/XMLHttpRequest2">http://www.w3.org/TR/XMLHttpRequest2</a>
         </code>
      </td>
   </tr>
   <tr>
      <th valign="top" align="right">
         <em>Abstract:</em>
      </th>
      <td>The XMLHttpRequest Level 2 specification enhances the XMLHttpRequest object with new
         features, such as cross-origin requests, progress events, and the handling of byte
         streams for both sending and receiving.
      </td>
   </tr>
</table>
<br></br>
<hr></hr>
<br></br>
<h3 id="history">
   <q>XMLHttpRequest Level 2</q> Updates:
</h3>
<ul>
   {% for post in site.posts %}
   {% if post.tags contains "XMLHttpRequest2" %}
   <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}: {{ post.title }}</a>
   </li>
   {% endif %}
   {% endfor %}
</ul>